	@-webkit-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; } 
}
@-moz-keyframes fadeIn {
0% { opacity: 0;}
100% { opacity: 1; }
}
@-o-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

.body-principal{
	background-color: rgb(0,0,200);
}

body, html{
width: 100%;
height: 100%;
margin: 0;
padding: 0;
}
body{
justify-content: center;
align-items: center;
justify-content: center;
text-align: center;
/*font-family: GillSans, Calibri, Trebuchet, sans-serif;*/
}


.capa{
	color: white;
}

.capa h2{
	font-size: 30px;
	margin-top: -15px;
}
.capa h1{
	font-weight: bold;
}

.capa img{
	width: 30%;
	min-width: 100px;
}


.capa{
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: rgba(0,0,180,0.9);
}

.capa div{
  padding: 40px;
}

.body-secundario{
	background-color: #EEE;
}

.dica{
	background-color: rgba(50,255,50,0.2);
	border: 1px solid green;
}

.dica h2{
	font-size: 24px;
	font-weight: bold;
}

.dica p{
	font-size: 18px;
	font-weight: lighter;
}

.title-pag{
	/*color: rgb(50,50,255);*/
	color: black;
	font-weight: bolder;;
}

a{
	color: inherit;
}

.banner{
	width: 100%;
	height: 100%;
	background-image: url(user1.png);
	background-attachment: fixed;
	background-size: cover;
}

.banner-index{
	width: 100%;
	height: 100%;
	background-image: url(goeduca-sobre-01.png);
	background-attachment: fixed;
	background-size: cover;
}